
body {
  background-color: black !important;
  color: white !important;
}

.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.banner{
  height: 600px;
  display: flex;
  align-items: center;
  background-size: cover;
}

.banner::before{
  position: absolute;
  left : 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

.card{
  cursor: pointer;
  width : 300px;
  height: 200px !important;
  border: 3px solid red !important;
}

.overlay{
  opacity:0;
  background: rgba(43, 41, 41, 0.9);
  width : 100%;
  height: 100%;
}

.card:hover .overlay{
  opacity: 1;
}

.main_movieDetail{
  /* 가로정렬 */
  z-index: 1;
  display: flex; 
  justify-content: center;
  width: 100%;
}

.movieDetail_info{
  width : 300px !important;
  height: 450px;
  width: 45%;
  z-index: 1;
  margin: 0px 20px 0px 20px;

}

.movieDetail_card{
  width : 300px;
  height: 450px;
  border: 3px solid red !important;
  z-index: 1;
}

.movieDetail_review{
  margin: 5%;
}

.reviewBox{
  border: 3px solid red;
  padding: 2%;
}

.realtedMovieBox{
  display: flex;
  width: 500px;
}